@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  padding: 30px 50px;
}

.nav-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-list a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #000;
}

footer {
  border: 2px solid #000;
}

footer p {
  padding-left: 15px;
}

.comment-popup {
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  padding-top: 100px;
  background-color: #fff;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-header {
  display: flex;
  gap: 20px;
}

.item-body img {
  width: 642px;
  height: 360px;
}

#close-comment-popup {
  font-size: 70px;
  font-weight: bold;
  margin-top: -22px;
  text-decoration: none;
  color: #000;
}

.item-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-body-details {
  display: flex;
  width: 100%;
}

.item-body-first {
  flex: 1;
}

.item-body-second {
  flex: 1;
}
